* {
    padding: 0;
    margin: 0;
    overflow: hidden;
  }
  
  a {
    text-decoration: none;
  }
  
  
  #container {
    width: 100%;
    height: 100%;
    background-color: #289457;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .login-form {
    width: 380px;
    height: 550px;
    color: 'white';
    text-align: 'center';
    background-color: #1b2736;
    margin-left: 30%;
    border-radius: 7px;
  }
  
  .title {
    width: 100%;
    height: 60px;
    color: white;
    text-align: center;
  }
  
  .title h3 {
    padding: 35px;
    word-spacing: 3px;
  }
  
  .social-auth {
    width: 85%;
    height: 50px;
    padding-top: 20px;
    margin: auto;
  }
  
  .social-item {
    width: 150px;
    height: 100%;
    background-color: transparent;
    color: white;
    border-radius: 5px;
  }
  
  .social-item img {
    display: block;
    width: 30px;
    height: auto;
    margin: 10px 8px 10px 25px;
  }
  
  .social-item a {
    font-size: 15px;
    font-weight: 300;
    position: relative;
    left: 65px;
    top: -33px;
    color: #bfb7c7;
    text-transform: capitalize;
  }
  
  .google-auth {
    float: left;
    /* margin-left: 25px; */
  }
  
  .facebook-auth {
    float: right;
    /* margin-right: 25px; */
  }
  
  .blank-row {
    width: 100%;
    height: 70px;
    background-color: inherit;
  }
  
  .blank-row p {
    color: #fff;
    font-size: 14px;
    font-weight: 300;
    text-align: center;
    position: relative;
    top: 50%;
    text-transform: lowercase;
  }
  
  .form-login {
    width: 85%;
    margin: auto;
    height: 200px;
    color: #bfb7c7;
    font-size: 14px;
    font-weight: 300;
  }
  
  .input {
    width: 100%;
    height: 50px;
    margin-top: 30px;
    box-sizing: border-box;
    border-radius: 7px;
    position: relative;
  }
  
  .input label {
    position: absolute;
    width: 100%;
    height: 35px;
    left: 0px;
    top: 17px;
    bottom: 0;
    display: flex;
    align-items: center;
    padding-left: 25px;
    opacity: 0.3;
  }
  
  .input input {
    width: 100%;
    height: 35px;
    outline: none;
    border: 0;
    border-radius: 7px;
    background-color: #352e3d;
    font-size: 1rem;
    -webkit-appearance: none;
    padding-left: 16px;
  }
  
  .input input:focus + label {
    display: none;
  }
  
  /* .input input:valid + label{
   display: none;
  } */
  
  .btn {
    background-color: #1ea6fc;
    width: 85%;
    height: 35px;
    margin: auto;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  
  .btn button {
    border: none;
    appearance: none;
    height: 100%;
    width: 100%;
    background-color: inherit;
    color: #fff;
    font-size: 14px;
    font-weight: 400;
  }
  